{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "printWidth": 140,
    "trailingComma": "none",
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": ["*.json", "*.yml", "*.yaml", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
