<footer class="flex-shrink-0 text-center pt-5 pb-10">
  <!-- <hr class="mb-5"> -->
  <div class="text-3xl flex justify-center space-x-6">
    <a href="mailto:ben@bencrane.dev">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://github.com/benscrane">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://gitlab.com/benscrane">
      <i class="fab fa-gitlab"></i>
    </a>
    <a href="https://twitter.com/bencrane">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
  <p class="text-gray-700">Copyright 2020, Ben Crane</p>
</footer>
