/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.blog-markdown p {
    @apply mt-4;
}
.blog-markdown h1 {
    @apply text-4xl mt-8;
}
.blog-markdown h2 {
    @apply text-3xl mt-8;
}
.blog-markdown h3 {
    @apply text-2xl mt-8;
}
.blog-markdown h4 {
    @apply text-xl mt-8;
}
.blog-markdown div.highlighter-rouge {
    @apply rounded p-2 my-3 overflow-x-auto;
}
.blog-markdown code.highlighter-rouge {
    @apply rounded p-1 whitespace-no-wrap;
}
.blog-markdown ul {
    @apply list-disc list-outside mt-2;
}
.blog-markdown ol {
    @apply list-decimal list-outside mt-2;
}
.blog-markdown li {
    @apply ml-4 my-2;
}
.blog-markdown .badge {
    @apply inline m-0 align-middle;
}

.hamburger {
    margin: 1em;
    width: 40px;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
    background-color: #000;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.hamburger.active div {
    transform: scale(0);
}

.hamburger.active:before {
    transform: rotate(45deg) translateY(12px);
}

.hamburger.active:after {
    transform: rotate(-45deg) translateY(-12px);
}
/* purgecss end ignore */
