.heading-color { color: var(--heading-text-color); }
.heading-font { font-family: "Source Sans Pro"; }

pre {
    font-size: 0.9em;
    padding: 10px 20px 10px 20px;
    overflow: auto;
    line-height: 1.25em;
}

p code {
    padding: .25rem .5rem;
}