{{ define "main" }}
<main class="my-4 px-3">
    <div class="heading-color heading-font text-2xl font-semibold">{{ .Title }}</div>
    <p>
        {{ if not .Date.IsZero }}<time>{{ .Date.Format "02 Jan 2006" }}</time>{{ end }}
        {{ if .Params.Tags }} | {{ end }}
        {{ if isset .Params "tags" }}
        tags: [ {{ range .Params.tags }}<a href="/tags/{{ . | urlize }}">{{ . | lower | urlize }}</a> {{ end }} ]
        {{ end }}
    </p>
    <div>{{ .Content }}</div>
</main>
{{ partial "table-of-contents" . }}

<div>
    {{ partial "back-to-top" . }}<br/>
    <p>
    {{ with .PrevInSection }}{{ if . }}<a href="{{ .Permalink }}">previous</a>{{ end }}{{ end }}
    {{ with .NextInSection }}{{ if . }}<a href="{{ .Permalink }}">next</a>{{ end }}{{ end }}
    </p>
</div>
{{ end }}