---
layout: base
---
<div class="w-full md:w-4/5 lg:w-3/5 mx-auto">
    <p class="text-4xl font-semibold">{{ page.title }}</p>
    {% assign author = site.writers | where: 'short_name', page.author | first %}
    {% if author %}
        <p class="pb-4 text-gray-600 text-sm">{{ page.date | date_to_string }} - <a href="{{ author.url }}">{{ author.name }}</a></p>
    {% else %}
        <p class="pb-4 text-gray-600 text-sm">{{ page.date | date_to_string}}</p>
    {% endif %}
    <div class="blog-markdown">
        {{ content }}
    </div>
</div>